node_modules/
launcher/node_modules/
launcher/src/config.json
launcher/src/assets/
launcher/release/
.env
.env.local
config/.env.local
files/
__MACOSX/
.DS_Store
*.log
*.lock
node_modules/
dist/
build/
out/
.env
*.log
